@import url(https://fonts.googleapis.com/css?family=Knewave&display=swap);
@import '~weather-icons/css/weather-icons.css';

html {
  box-sizing: border-box;
}

body {
  font-family: 'Knewave', sans-serif;
  background: #5089da;
  color: white;
  font-size: 20pt;
}

.container {
  display: flex;
}

.column {
  flex: 1;
}

.icon {
  color: white;
}

.icon-xl {
  font-size: 200pt;
}
