@import '~weather-icons/css/weather-icons.css';
@import '~milligram/dist/milligram.css';

// Google Fonts

html {
  box-sizing: border-box;
}

body {
  color: #9b4dca;
  font-size: 15pt;
}

.container {
  display: flex;
  margin-top: 100px;
}

.column {
  flex: 1;
}

.icon {
  color: #9b4dca;
}

.icon-xl {
  font-size: 200pt;
}
