@import '~weather-icons/css/weather-icons.css';
@import '~milligram/dist/milligram.css';

$base-color: #9b4dca;

html {
  box-sizing: border-box;
}

body {
  color: $base-color;
  font-size: 12pt;
}

.container {
  display: flex;
  margin-top: 100px;
}

.column {
  flex: 1;
}

.icon {
  color: $base-color;
}

.icon-xl {
  font-size: 100pt;
}
